h1{

    font-size: 30px;
    
    text-align: center;
    
    color: #0b972a
    
    }
    
    
    p{
    
    font-size: 20px;
    
    text-align: left;
    
    font-family: Helvetica, sans-serif;

    color:#0b972a

    
    }
    
    h2{
        
    font-size: 30px;
    
    text-align: center;
    
    color: #0b972a
    }
    
    body {
    
    background-color: #060000;
    
    }